{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var upload_url = "{{=URL('api', 'upload_file')}}";
    var get_stamps_url = "{{=URL('api', 'get_stamps')}}";
    var get_folders_url = "{{=URL('api', 'get_folders')}}";
</script>

<script src="{{=URL('static', 'js/dropzone.js')}}"></script>

<script>
    function produce_upload_url (files) {
        return upload_url;
    }

    $(function() {
        Dropzone.options.fileUploader = {
            maxFilesize: 10, // MB
            url: produce_upload_url,
            addRemoveLinks: true,
            parallelUploads: 1,
            acceptedFiles: '.log',
            createImageThumbnails: false,
            init: function() {
                this.on("complete", function(file) {
                    this.removeFile(file);
                });
            }
        }
    });
</script>
{{end}}

<div class="main_content">

    <div id="uploader_div" class="dz_custom">
        <form action=""
              class="dropzone dz-clickable"
              id="file-uploader">
            <div class="dz-message">
                Drop .log files here to upload them, or click to select them.
            </div>
        </form>
    </div>

    <div id="vue-div" style="display:none">
        <div class="form-container">
            <div style="margin: 5%; width: 10%">
                <form action="#" v-on:submit.prevent="get_stamps" enctype="multipart/form-data" method="post">
                    <div style="margin-bottom:10px; height:35px" class="form-group">
                        <div>
                            <input class="form-control string" v-model="start_stamp" placeholder="Enter Start Stamp"
                                   type="text" />
                        </div>
                    </div>
                    <div style="margin-bottom:10px; height:35px" class="form-group">
                        <div>
                            <input class="form-control string" v-model="end_stamp" placeholder="Enter End Stamp"
                                   type="text" />
                        </div>
                    </div>
                    <div style="margin-bottom:0" class="form-group">
                        <div style="padding-left: 0;">
                            <input type="submit" value="Get Log Fragment"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
